# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.env.development
/data/samples/coles-product-detail-2814013.json
/data/samples/wws-category-poulty-meat-seafood.json
/data/samples/wws-collection-variables.json
/data/samples/wws-collections-header-body.json
/data/samples/wws-product-detail-544760.json
/data/wws-tracker/functions/.env.default
trackers/wws-tracker/curl.txt
data/csv-firebase-data/categories-1730947622.csv
data/csv-firebase-data/categories-1730964632.json
data/csv-firebase-data/product-history-1730947868.csv
data/csv-firebase-data/product-history-1730964619.json
data/csv-firebase-data/products-1730947728.csv
data/csv-firebase-data/products-1730964597.json
data/csv-firebase-data/wws-categories.xlsx
data/samples/coles-categories.json
data/samples/coles-category-fruit-vegetables-page1.html
data/samples/coles-category-fruit-vegs
data/samples/coles-category-pantry.json
data/samples/coles-pantry-results.json
