# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.env.development
/data/samples/coles-product-detail-2814013.json
/data/samples/wws-category-poulty-meat-seafood.json
/data/samples/wws-collection-variables.json
/data/samples/wws-collections-header-body.json
/data/samples/wws-product-detail-544760.json
/data/wws-tracker/functions/.env.default
trackers/wws-tracker/curl.txt
